@media only screen and(max-width: 904px){
  

}

@media only screen and(max-width: 768px){
  .login-bg{
    display: none;
  }

  .login-bg-mobile {
    background: linear-gradient(to bottom, rgba(14, 203, 236, 0.432), rgba(6, 30, 241, 0.507)), url('../images/bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    background-size: cover;
    height: 0;
    width:0;
    position: relative;  
  }

  .card {
    min-width: 300px !important;
  }
}